* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

:root {
    font-size: 16px;
    transition: all 1s ease;
}

#main {
    background-color: whitesmoke;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer {
    display: flex;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px;
    align-items: center;
    background-color: rgb(51, 52, 54);;
}
#titulo {
    margin-left: 100px;
    color: white;
    font-size: 1.5rem;
}
#menu {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu > span {
    font-size: 30px;
    color: white;
}

#materias {

    background-color: rgb(51, 53, 56);
    width: 100%;
    max-width: 700px;
    max-height: 100%;
    padding: 10px;
    overflow-y: scroll;
}
.materia {
    display: flex;
    align-items: center;
    height: 80px;
    border-top: 1px white solid;
    padding-right: 10px;
}

.materia .nota {
    background-color: rgb(40, 86, 212);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
}
.materia .edit {
    background-color: rgb(91, 91, 92);
    color: rgb(189, 188, 188);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.materia .edit:hover {
    opacity: 0.6;
}

.nomedm {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
}

.nomedm .n {
    text-transform: uppercase;
    
}